@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #f0f9f5;
  --color: #464646;
}

.color-theme {
  --bgColor: #464646;
  --color: #f0f9f5;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgColor);
}

.main-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 10%;
  //   position: relative;
}
// border-bottom: 1.5px solid grey;

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #5d5b5b;

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: tomato;
    font-style: italic;
    cursor: pointer;
  }
  ul {
    display: flex;
    gap: 2.5rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--color);
        transition: all 0.4s;
      }
      a:hover {
        color: tomato;
      }
    }
  }
  .first-btn {
    padding: 15px 18px;
    background-color: tomato;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s;
    i {
      padding-left: 5px;
    }
  }
  .first-btn:hover {
    background-color: rgb(230, 88, 63);
  }

  .theme-btn {
    font-size: 2rem;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
  }
}

// body-section
.body-section {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  .body-text {
    margin-right: 20px;
    h1 {
      font-size: 6rem;
      color: tomato;
    }
    h2 {
      font-size: 3.5rem;
      color: var(--color);
    }
    p {
      margin-top: 1rem;
      font-family: sans-serif;
      font-size: 16px;
      color: var(--color);
    }
    button {
      margin-top: 4rem;
      padding: 15px 18px;
      background-color: var(--color);
      color: var(--bgColor);
      font-size: 1.5rem;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.4s;
    }
    button:hover {
      background-color: #464646;
    }
    .social-link {
      margin-top: 3rem;
      font-size: 2rem;
      i {
        padding: 0 10px;
      }
    }
    a:nth-child(1) {
      color: #1877f2;
    }
    a:nth-child(2) {
      color: #c32aa3;
    }
    a:nth-child(3) {
      color: #0a66c2;
    }
    a:nth-child(4) {
      color: #000;
    }
    a:nth-child(5) {
      color: #f4832b;
    }
  }
  .body-img {
    img {
      width: 700px;
    }
  }
}

// Animation h1
.body-section .body-text h1 {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0%;
}
.body-section .body-text h1 {
  animation: textcolor1 5s linear infinite alternate;
}
@keyframes textcolor1 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}

// Animation h2
.body-section .body-text h2 {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0%;
}
.body-section .body-text h2 {
  animation: textcolor2 3s linear infinite alternate;
}
@keyframes textcolor2 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}

// Responsive Design
// @media only screen and (max-width: 600px) {
//   .nav-container {
//     border: none;
//     h1 {
//       text-align: center;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }

//     ul {
//       display: flex;
//       flex-direction: row;
//       li {
//         margin-top: 8rem;
//       }
//     }
//     .btn-container {
//       width: 70px;
//       margin-left: -100px;
//     }
//   }
// }
